{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Diario</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Entradas del diario</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Diario</h5>
                                </div>
                                <div class="card-block">
                                    
                                    {% if entradas %}
                                    {% for entry in entradas %}
                                        
                                        <div class="card">
                                            {% if entry.emocion == "Enojado" %}
                                            <div class="card-header text-white" style="background-color: #C91836;">Entrada del día {{ entry.fecha }}</div>
                                            {% elif entry.emocion == "Triste" %}
                                            <div class="card-header text-white" style="background-color: #22A2D9;">Entrada del día {{ entry.fecha }}</div>
                                            {% elif entry.emocion == "Feliz" %}
                                            <div class="card-header text-white" style="background-color: #22D940;">Entrada del día {{ entry.fecha }}</div>
                                            {% elif entry.emocion == "Templado" %}
                                            <div class="card-header text-white" style="background-color: #15D3AD;">Entrada del día {{ entry.fecha }}</div>
                                            

                                            {% endif %}
                                            
                                            <div class="card-body">
                                                <h5 class="card-title">Ese día estuviste: {{ entry.emocion }}</h5>

                                                {% if entry.descripcion != "" %}
                                                    <p class="card-text">y escribiste la siguiente descripción: </p>
                                                    <ul><p class="card-text">{{ entry.descripcion }}</p></ul>

                                                {% elif entry.descripcion == "" %}
                                                    <p class="card-text">Este día no escribiste descripción</p>

                                                {% endif %}
                                            </div>
                                        </div>

                                    {% endfor %}
                                    {% else %}
                                    <p> ¡No has ingresado ninguna emoción todavía! </p>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
